body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.app {
  color: #cad0e5;
}
/* Footer element CSS */
.footer__cover {
  position: relative;
  background-color: #0a1535;
  margin-top: 200px;
  padding-top: 150px;
}
.footer__banner {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  background-image: linear-gradient(to right, #743dcc, #2050e2);
  border-radius: 6px;
  padding: 40px;
  margin: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__banner__title {
  font-size: xx-large;
}
.footer_contain-has {
  display: flex;
  align-items: center;
  justify-content: start;
}
.footer__banner__has {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.footer__banner__has > svg {
  width: 5%;
}
.footer__banner__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__banner__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  background: #0a1535;
  border-radius: 9999px;
  padding: 5px 0;
}
.footer__banner__btn > svg {
  width: 10%;
}
.footer__banner__btn--second {
  background-color: transparent;
  border: 1px solid white;
}
/*  */
.footer__main {
  padding: 60px 150px;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__cover-link {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}
.footer__list h1 {
  margin-bottom: 20px;
  color: #5e6784;
  text-transform: uppercase;
}
.footer__list > a:hover {
  color: #743dcc;
  transition: 0.3s ease-in-out;
}
.footer__list > a > .footer__items {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
/*  */
.footer__end {
  border-top: 1px solid #cad0e5;
  padding: 15px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__end__left {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__end__right {
  color: #cad0e5;
  padding: 4px 8px;
  border: 1px solid #cad0e5;
  border-radius: 9999px;
  text-transform: uppercase;
  font-size: 10px;
}
