.text {
  background: #000;
  color: purple;
}

/* Footer element CSS */
.footer__cover {
  position: relative;
  background-color: #0a1535;
  color: white;
  margin-top: 200px;
  padding: 150px;
  box-sizing: border-box;
}
.footer__banner {
  background-image: linear-gradient(to right, #743dcc, #2050e2);
  position: absolute;
  top: -30%;
  width: calc(100% - 300px);
  border-radius: 6px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__banner__title {
  font-size: xx-large;
}
.footer_contain-has {
  display: flex;
  align-items: center;
  justify-content: start;
}
.footer__banner__has {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.footer__banner__has > svg {
  width: 5%;
}
.footer__banner__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__banner__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  background: #0a1535;
  border-radius: 9999px;
  padding: 5px 0;
}
.footer__banner__btn > svg {
  width: 10%;
}
.footer__banner__btn--second {
  background-color: transparent;
  border: 1px solid white;
}
